.principal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    background: #ccc;
}
.contenedor{
    background: #62929E;
    border-radius: 35px;
    border: 5px solid black;
    margin: auto;
}
.direccion{
    background: #393D3F;
    margin: auto;
    width: 90%;
    height: 80%;
    border-radius: 35px;
    padding: 20px;
    color: white;
    text-align: center;
}
.direccion button{
    height: 10%;
}
.info{
    height: 70%;
    display: grid;
    grid-template-columns: 20% 30% 15% 30%;
}
.info input{
    border-radius: 15px;
    height: 40%;
    width: 80%;
}
.info p{
    margin-right: 10px;
    text-align: end;
}